.headerStyle {
    font-family: 'Inconsolata';
    display: inline-block; /* inline-block */
    white-space: nowrap; /* whitespace-nowrap */
    text-align: center; 
    vertical-align: baseline;
    color:black;
    margin-top: 20px;
  }
  
  .codeMirrorStyle {
    width: 100%; /* Full width of parent container */
    max-width: 60vw; /* Maximum width based on viewport */
  }
  
  .editor-container {
    display: flex;
    justify-content: center; /* Centers the editor horizontally */
    width: 100vw;
    overflow-y: scroll;
    max-width: 100%;
    background: transparent;
    padding: 10px;
  }
  
  body {
    background-color: #909497;
  }

  .run-button {
    font-size: 20px;
    font-family: monospace;
    color: #00FF00;
    border: #11a91b;
    background-color: #2e2e2e;
    border-style: solid;
    border-width: thin;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

.run-button:hover {
  background-color: #11a91b;
}

.terminal-container .terminal {
  display: block;
  position: relative;
  background-color: black;
  backdrop-filter: blur(var(--blur-size));
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  margin-top: 10px; /* Space between the editor and output */
  height: 100px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scroll */
}

.terminal-container .terminal .command-line {
  display: block;
  padding: 5px;
  text-align: left;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  color: white;
  opacity: 1;
  transition: opacity 1s;
  background-color: black; /* Terminal background */
  border-radius: 5px;
  padding: 10px; /* Padding inside the command line */
}
